.about-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 100px 10% 5%;
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    .container.about-page{
        width: 100%;
        h1 {
            color: #ffd700;
            font-size: 56px;
            line-height: 53px;
            font-family: 'Coolvetica';
            font-weight: 400;
            width: 100%;
            position: relative;
            &:before {
                content: '<h1>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -20px;
                margin-left: -30px;
                animation: fadeIn 1s 1s backwards;
                opacity: 0.6;
              }
          
            &:after {
                content: '<h1/>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: 27px;
                margin-left: 0px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
        }
        div.second-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            .text-zone {
                width: 40%;
                max-height: 90%;
                animation: fadeIn 1s 1s backwards;

                p{
                    color: #fff;
                    font-family: "Poppins";
                    font-weight: 300;
                    max-width: fit-content;
                    font-size: 16px !important;
                    line-height: 20px;
                    margin-bottom: 15px;
                }
            }
            .experience{
                width: 40%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                position: relative;
                animation: fadeIn 1s 1s backwards;

                .single-card{
                    width: 48%;
                    margin-bottom: 25px;
                    padding: 4% 3% 3% 3%;
                    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
                    position: relative;
                    background-color: #092c43;
                    border: 2px solid transparent;
                    transition: all .8s ease 0s;
                    border-radius: 10px;
                    &:hover{
                        transform: scale(1.1);
                    }

                    div.time{
                        margin-bottom: 10px;
                        color: #ffd700;
                        font-weight: 600;
                        font-size: 14px;
                        font-family: "Poppins";
                    }
                    h6{
                        color: #fff;
                        font-weight: 700;
                        font-size: 15px;
                        font-family: "Poppins";
                        border-bottom: 1px solid #ffd700;
                        display: inline-block;
                        padding-bottom: 3px;
                        margin-bottom: 10px;
                    }
                    p{
                        color: #fff;
                        font-family: "Poppins";
                        font-weight: 300;
                        max-width: fit-content;
                        font-size: 14px !important;
                        line-height: 20px;
                        margin-bottom: 15px;
                    }
                    &:nth-child(1){
                        border: 2px solid transparent;
                        border-top:0 ;
                        border-left: 0;
                        &:hover{
                            border: 2px solid #ffd700;
                            border-top:0 ;
                            border-left: 0;
                        }
                        ::before{
                            content: "";
                            border-radius: 3px;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            top: -15px;
                            left: -15px;
                            background-color: transparent;
                            border: 2px solid #ffd700;
                            border-right: 0;
                            border-bottom: 0;
                        }
                    }
                    &:nth-child(2){
                        border: 2px solid transparent;
                        border-top:0 ;
                        border-right: 0;
                        &:hover{
                            border: 2px solid #ffd700;
                            border-top:0 ;
                            border-right: 0;
                        }
                        ::before{
                            content: "";
                            border-radius: 3px;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            top: -15px;
                            right: -15px;
                            background-color: transparent;
                            border: 2px solid #ffd700;
                            border-left: 0;
                            border-bottom: 0;
                        }
                    }
                    &:nth-child(3){
                        border: 2px solid transparent;
                        border-bottom:0 ;
                        border-left: 0;
                        &:hover{
                            border: 2px solid #ffd700;
                            border-bottom:0 ;
                            border-left: 0;
                        }
                        ::before{
                            content: "";
                            border-radius: 3px;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            bottom: -15px;
                            left: -15px;
                            background-color: transparent;
                            border: 2px solid #ffd700;
                            border-right: 0;
                            border-top: 0;
                        }
                    }
                    &:nth-child(4){
                        border: 2px solid transparent;
                        border-bottom:0 ;
                        border-right: 0;
                        &:hover{
                            border: 2px solid #ffd700;
                            border-bottom:0 ;
                            border-right: 0;
                        }
                        ::before{
                            content: "";
                            border-radius: 3px;
                            width: 25px;
                            height: 25px;
                            position: absolute;
                            bottom: -15px;
                            right: -15px;
                            background-color: transparent;
                            border: 2px solid #ffd700;
                            border-left: 0;
                            border-top: 0;
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width: 1280px){
    .about-main-container{
        padding: 100px 5% 5% 10%;
    }
    .about-main-container .container.about-page div.second-container .experience{
        width: 53%;
    }
}
@media all and (max-width: 980px){
    .about-main-container{
        padding: 15% 5% 12% 10%;
        height: auto;
    }
    .about-main-container .container.about-page div.second-container .text-zone{
        width: 100%;
        margin-bottom: 5%;
    }
    .about-main-container .container.about-page div.second-container .experience{
        width: 100%;
    }
    .about-main-container .container.about-page h1{
        text-align: center;
        margin-bottom: 40px;
    }
    .about-main-container .container.about-page div.second-container .experience .single-card:nth-child(1) ::before,
    .about-main-container .container.about-page div.second-container .experience .single-card:nth-child(2) ::before,
    .about-main-container .container.about-page div.second-container .experience .single-card:nth-child(3) ::before,
    .about-main-container .container.about-page div.second-container .experience .single-card:nth-child(4) ::before{
        display: none;
    }
}
@media all and (max-width: 768px){
    .about-main-container{
        padding: 15% 5% 12% 90px;
    }
}
@media all and (max-width: 640px){
    .about-main-container{
        padding: 100px 30px 20% 90px;
    }
    .about-main-container .container.about-page h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .about-main-container .container.about-page div.second-container .experience .single-card{
        width: 100%;
        margin-bottom: 0;
        border-radius: 0;
        padding: 6% 5% 5% 3%;
        box-shadow: none;
        &:hover{
            transform: scale(1);
        }
        &:nth-child(1){
            border: none;
            border-left: 2px solid #ffd700;
            border-bottom: 2px solid #ffd700;
            border-radius: 0 0 0 20px;
            &:hover{
                border: none;
                border-left: 2px solid #ffd700;
                border-bottom: 2px solid #ffd700;
            }
        }
        &:nth-child(2){
            border: none;
            border-right: 2px solid #ffd700;
            border-bottom: 2px solid #ffd700;
            border-radius: 0 0 20px 0;
            &:hover{
                border: none;
                border-right: 2px solid #ffd700;
                border-bottom: 2px solid #ffd700;
            }
        }
        &:nth-child(3){
            border: none;
            border-left: 2px solid #ffd700;
            border-bottom: 2px solid #ffd700;
            border-radius: 0 0 0 20px;
            &:hover{
                border: none;
                border-left: 2px solid #ffd700;
                border-bottom: 2px solid #ffd700;
            }
        }
        &:nth-child(4){
            border: none;
            border-right: 2px solid #ffd700;
            border-bottom: 2px solid #ffd700;
            border-radius: 0 0 20px 0;
            &:hover{
                border: none;
                border-right: 2px solid #ffd700;
                border-bottom: 2px solid #ffd700;
            }
        }
    }
}
@media all and (max-width: 480px){
    .about-main-container{
        padding: 100px 30px 30% 70px;
    }
}
@media (max-width: 360px){
    .about-main-container {
        padding: 50px 30px 10% 70px;
    }
}