.contact-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 5% 10% 5%;
    position: relative;
    .container.contact-page{
        width: 100%;
        h1 {
            color: #ffd700;
            font-size: 56px;
            line-height: 53px;
            font-family: 'Coolvetica';
            font-weight: 400;
            width: 100%;
            position: relative;
            margin-bottom: 40px;
            &:before {
                content: '<h1>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: -40px;
                left: -15px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
              }
          
            &:after {
                content: '<h1/>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: 18px;
                margin-left: 20px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
        }
        div.second-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            .text-zone {
                width: 40%;
                max-height: 90%;
                p{
                    font-size: 13px;
                    color: #fff;
                    font-family: "Poppins";
                    font-weight: 300;
                    max-width: fit-content;
                    font-size: 14px !important;
                    line-height: 20px;
                    margin-bottom: 15px;
                    opacity: 0;
                    overflow: hidden;
                    display: block;
                    clear: both;
                    animation: fadeInUp 1s 1s;
                    animation-fill-mode: forwards;
                }
                .contact-form {
                    width: 100%;
                    margin-top: 20px;
                  
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            padding: 0;
                            margin: 0;
                            list-style: none;
                            margin-bottom: 10px;
                            opacity: 0;
                            overflow: hidden;
                            display: block;
                            clear: both;
                            position: relative;
                            animation: fadeInUp 1s 1s;
                            animation-fill-mode: forwards;

                            input[type='text'],
                            input[type='email'] {
                                width: 100%;
                                border: 0;
                                background: #115173;
                                height: 50px;
                                font-size: 16px;
                                color: #fff;
                                padding: 0 20px;
                                box-sizing: border-box;
                            }
                            textarea {
                                width: 100%;
                                border: 0;
                                background: #115173;
                                height: 50px;
                                font-size: 16px;
                                color: #fff;
                                padding: 20px;
                                box-sizing: border-box;
                                min-height: 150px;
                            }
                            .flat-button {
                                color: #ffd700;
                                font-size: 11px;
                                letter-spacing: 3px;
                                text-decoration: none;
                                padding: 8px 10px;
                                border: 1px solid #ffd700;
                                float: left;
                                border-radius: 4px;
                                background: 0 0;
                                text-transform: uppercase;
                                float: right;
                                text-align: center;
                            }
                        }
                        li.half {
                            width: 49%;
                            margin-left: 2%;
                            float: left;
                            clear: none;
                    
                            &:first-child {
                                margin-left: 0;
                            }
                        }
                    }
                }               
            }
            div.contact-link{
                width: 40%;
                position: relative;
                opacity: 0;
                clear: both;
                animation: fadeInUp 1s 1s;
                animation-fill-mode: forwards;
    
                a.single-card{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 30px;

                    .font-icon{
                        font-size: 22px;
                    }
    
                    h6{
                        color: #fff;
                        font-weight: 700;
                        font-size: 15px;
                        font-family: "Poppins";
                        margin-bottom: 10px;
                        width: 90%;
                        text-align: center;
                    }
                    p{
                        color: #fff;
                        font-family: "Poppins";
                        font-weight: 300;
                        max-width: fit-content;
                        font-size: 14px !important;
                        line-height: 20px;
                        margin-bottom: 15px;
                    }
                }
                hr.line{
                    width: 100%;
                    height: 2px;
                    background: #ffd700;
                }
                .small-links{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-wrap: wrap;
                    padding: 30px;
                    a.single-card{
                        .font-icon{
                            font-size: 27px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px){
    .contact-main-container{
        padding: 5% 5% 5% 10%;
    }
    .contact-main-container .container.contact-page div.second-container div.contact-link{
        width: 55%;
    }
}
@media (max-width: 1080px){
}
@media (max-width: 980px){
}
@media (max-width: 768px){
}
@media (max-width: 640px){
}
@media (max-width: 480px){
}
@media (max-width: 360px){
}