.skills-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 5% 10% 5%;
    position: relative;
    .container.skill-page{
        width: 100%;
        h1 {
            color: #ffd700;
            font-size: 56px;
            line-height: 53px;
            font-family: 'Coolvetica';
            font-weight: 400;
            width: 100%;
            position: relative;
            &:before {
                content: '<h1>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                animation: fadeIn 1s 1s backwards;
                opacity: 0.6;
                
                margin-top: -20px;
                margin-left: -30px;
            }
          
            &:after {
                content: '<h1/>';
                font-family: 'La Belle Aurore', cursive;
                color: #ffd700;
                font-size: 18px;
                position: absolute;
                margin-top: 27px;
                margin-left: 0px;
                animation: fadeIn 1s 1.7s backwards;
                opacity: 0.6;
            }
            &.responsive{
                display: none;
            }
        }
        div.second-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            .text-zone {
                width: 40%;
                max-height: 90%;
                animation: fadeIn 1s 1s backwards;

                p{
                    color: #fff;
                    font-family: "Poppins";
                    font-weight: 300;
                    max-width: fit-content;
                    font-size: 16px !important;
                    line-height: 20px;
                    margin-bottom: 15px;
                    b{
                        color: #ffd700;
                        &:first-child{
                            margin: 0;
                        }
                    }
                }
            }
            .skills{
                width: 50%;
                position: relative;
                border-radius: 50px;
                height: 60vh;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                animation: fadeIn 1s 1s backwards;
                div.line{
                    width: 2px;
                    height: 100%;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    left: 50%;
                    background-color: #ffd700;
                    overflow: visible;
                    &::before{
                        content: "";
                        position: absolute;
                        top: 0%;
                        left: 50%;
                        transform: translateX(-50%);
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: #022c43;
                        border: 3px solid #ffd700;
                    }
                    .round{
                        position: absolute;
                        width: 11px;
                        height: 11px;
                        border-radius: 50%;
                        background-color: #ffd700;
                        border: 3px solid #022c43;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        &.first{
                            top: calc(14.28% + 50px);
                        }
                        &.second{
                            top: calc(28.57% + 50px);
                        }
                        &.third{
                            top: calc(42.85% + 50px);
                        }
                        &.fourth{
                            top: calc(57.14% + 50px);
                        }
                        &.fifth{
                            top: calc(71.42% + 50px);
                        }
                        &.sixth{
                            top: calc(85.74% + 50px);
                        }
                    }
                }
                .single-card{
                    width: 46%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    border: 2px solid #fff;
                    padding: 2%;
                    height: 100px;
                    position: absolute;
                    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
                    &::before{
                        content: '';
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        width: 0;
                        height: 0;
                        clear: both;
                    }
                    .font-icon{
                        font-size: 22px;
                        margin-bottom: 10px;
                    }
                    .description{
                        width: 95%;
                        h6{
                            color: #fff;
                            font-weight: 700;
                            font-size: 20px;
                            font-family: "Poppins";
                            margin-bottom: 10px;
                            width: 100%;
                            text-align: center;
                        }
                        p{
                            color: #fff;
                            font-family: "Poppins";
                            font-weight: 300;
                            font-size: 14px !important;
                            line-height: 20px;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    &.first-child{
                        top: 14.28%;
                        left: 0;
                        border-left: 0;
                        border-top: 0;
                        &::before{
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-left: 8px solid #fff;
                            right: -17px;
                        }
                        &::after{
                            right: -12%;
                        }
                        p{
                            text-align: right;
                        }
                        h6{
                            text-align: right;
                        }
                    }
                    &.second-child{
                        top: 28.57%;
                        right: 0;
                        border-right: 0;
                        border-top: 0;
                        &::before{
                            left: -17px;
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-left: 8px solid transparent;
                            border-right: 8px solid #fff;
                        }
                        &::after{
                            left: -39px;
                        }
                        p{
                            text-align: left;
                        }
                        h6{
                            text-align: left;
                        }
                    }
                    &.third-child{
                        top: 42.85%;
                        left: 0;
                        border-left: 0;
                        border-top: 0;
                        &::before{
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-left: 8px solid #fff;
                            right: -17px;
                        }
                        &::after{
                            right: -12%;
                        }
                        p{
                            text-align: right;
                        }
                        h6{
                            text-align: right;
                        }
                    }
                    &.fourth-child{
                        top: 57.14%;
                        right: 0;
                        border-right: 0;
                        border-top: 0;
                        &::before{
                            left: -17px;
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-left: 8px solid transparent;
                            border-right: 8px solid #fff;
                        }
                        &::after{
                            left: -39px;
                        }
                        p{
                            text-align: left;
                        }
                        h6{
                            text-align: left;
                        }
                    }
                    &.fifth-child{
                        top: 71.42%;
                        left: 0;
                        border-left: 0;
                        border-top: 0;
                        &::before{
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-right: 8px solid transparent;
                            border-left: 8px solid #fff;
                            right: -17px;
                        }
                        &::after{
                            right: -12%;
                        }
                        p{
                            text-align: right;
                        }
                        h6{
                            text-align: right;
                        }
                    }
                    &.sixth-child{
                        top: 85.74%;
                        right: 0;
                        border-right: 0;
                        border-top: 0;
                        &::before{
                            left: -17px;
                            border-top: 8px solid transparent;
                            border-bottom: 8px solid transparent;
                            border-left: 8px solid transparent;
                            border-right: 8px solid #fff;
                        }
                        &::after{
                            left: -39px;
                        }
                        p{
                            text-align: left;
                        }
                        h6{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1280px){
    .skills-main-container{
        padding: 5% 5% 5% 10%;
    }
    .skills-main-container .container.skill-page div.second-container .skills{
        width: 55%;
    }
}
@media (max-width: 1080px){
}
@media (max-width: 980px){
    .skills-main-container{
        padding: 15% 5% 12% 10%;
        height: auto;
    }
    .skills-main-container .container.skill-page div.second-container .text-zone{
        width: 100%;
        margin-bottom: 5%;
    }
    .skills-main-container .container.skill-page div.second-container .skills{
        width: 100%;
    }
    .skills-main-container .container.skill-page h1{
        text-align: center;
        margin-bottom: 40px;
    }
    .skills-main-container .container.skill-page div.second-container .skills{
        height: 600px;
    }
}
@media (max-width: 768px){
    .skills-main-container{
        padding: 15% 5% 12% 90px;
    }
}
@media (max-width: 640px){
    .skills-main-container{
        padding: 100px 30px 20% 90px;
    }
    .skills-main-container .container.skill-page h1{
        font-size: 40px;
        margin-bottom: 30px;
    }
    .skills-main-container .container.skill-page div.second-container .skills div.line{
        left: 0;
    }
    .skills-main-container .container.skill-page div.second-container .skills .single-card{
        width: 93%;
    }
    .skills-main-container .container.skill-page div.second-container .skills .single-card{
        &.first-child{
            right: 0;
            left: auto;
            border: 2px solid #fff;
            border-right: 0;
            border-top: 0;
            top: 6.28%;

            &::before{
                left: -17px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid transparent;
                border-right: 8px solid #fff;
            }
        }
        &.second-child{
            top: 22.57%;
        }
        &.third-child{
            right: 0;
            left: auto;
            border: 2px solid #fff;
            border-right: 0;
            border-top: 0;
            top: 38.85%;
            &::before{
                left: -17px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid transparent;
                border-right: 8px solid #fff;
            }
        }
        &.fourth-child{
            top: 55.14%;
        }
        &.fifth-child{
            right: 0;
            left: auto;
            border: 2px solid #fff;
            border-right: 0;
            border-top: 0;
            top: 72.42%;

            &::before{
                left: -17px;
                border-top: 8px solid transparent;
                border-bottom: 8px solid transparent;
                border-left: 8px solid transparent;
                border-right: 8px solid #fff;
            }
        }
        &.sixth-child{
            top: 88.74%;
        }
        
    }
    .skills-main-container .container.skill-page div.second-container .skills div.line{
        .round.first {
            top: calc(6.28% + 50px);
        }
        .round.second {
            top: calc(22.57% + 50px);
        }
        .round.third {
            top: calc(38.85% + 50px);
        }
        .round.fourth {
            top: calc(55.14% + 50px);
        }
        .round.fifth {
            top: calc(72.42% + 50px);
        }
        .round.sixth {
            top: calc(88.74% + 50px);
        }
    }
    .skills-main-container .container.skill-page div.second-container .skills .single-card{
        padding: 15px;
    }
    .skills-main-container .container.skill-page div.second-container .skills{
        height: 800px;
    }
}
@media (max-width: 480px){
    .skills-main-container{
        padding: 100px 30px 30% 70px;
    }
    .skills-main-container .container.skill-page div.second-container .skills{
        // height: 800px;
    }
    .skills-main-container .container.skill-page h1{
        display: none;
        &.responsive{
            display: block;
            &.one{
                margin-bottom: 0;
                &::after{
                    display: none;
                }
            }
            &.two{
                &::before{
                    display: none;
                }
            }
        }
    }
}
@media (max-width: 360px){
    .skills-main-container {
        padding: 50px 30px 10% 70px;
    }
    .skills-main-container .container.skill-page div.second-container .skills .single-card .font-icon{
        font-size: 16px;
    }
}