@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
ol, ul {
	list-style: none;
}
body {
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-size: 17px;
	color: #000;
	overflow-x: hidden;
	min-width: 320px;
	font-weight: 500;
	background: #022c43;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
}
input,textarea,select{
	font-family: "GT-Eesti", Arial, Helvetica, sans-serif;
	font-weight: 500;
}

a{
	color: #000;
}
p{
	line-height:1.6em;
	font-size: 16px;
	font-family: "GT-Eesti", Arial;
	font-weight: 500;
	color: #000;
}
.wrapper {
	width: 90%;
	margin: 0 auto;
	max-width:1280px;
}
body::-webkit-scrollbar {
    display: none;
}
  
body {
    -ms-overflow-style: none;
    scrollbar-width: none; 
}
@font-face {
    font-family: 'Helvetica Neue';
    src: url('./assets/fonts/helvetica-neu.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'La Belle Aurore';
    src: url('./assets/fonts/LaBelleAurore.woff2') format('woff2'),
      url('./assets/fonts/LaBelleAurore.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  
@font-face {
    font-family: 'Coolvetica';
    src: url('./assets/fonts/CoolveticaRg-Regular.woff2') format('woff2'),
      url('./assets/fonts/CoolveticaRg-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container.home-page::before,.about-main-container::before,
.contact-main-container::before,.skills-main-container::before{
    content: '<html> \A   <body>';
    white-space: pre;
    font-family: 'La Belle Aurore', cursive;
    color: #ffd700;
    font-size: 18px;
    position: absolute;
    top: 15px;
    left: -70px;
    animation: fadeIn 1s 1s backwards;
    opacity: 0.6;
}

.container.home-page::after,.about-main-container::after,
.contact-main-container::after,.skills-main-container::after{
    content: '  </body> \A </html>';
    white-space: pre;
    font-family: 'La Belle Aurore', cursive;
    color: #ffd700;
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    left: -70px;
    animation: fadeIn 1s 1s backwards;
    opacity: 0.6;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}
.loader-hidden {
    display: none;
}
  
.loader-active {
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 50px;
    height: 50px;
    animation: fadeOut 1s 1s;
    animation-fill-mode: forwards;
}

.pacman div:first-of-type {
    border-top: 25px solid #ffd700 !important;
    border-left: 25px solid #ffd700 !important;
    border-bottom: 25px solid #ffd700 !important;
}

.pacman div:nth-child(2) {
    border-top: 25px solid #ffd700 !important;
    border-left: 25px solid #ffd700 !important;
    border-bottom: 25px solid #ffd700 !important;
}
.pacman div:nth-child(3), .pacman > div:nth-child(4), .pacman > div:nth-child(5), .pacman > div:nth-child(6) {
    background-color: #ffd700 !important;
}
@media all and (max-width: 1500px){
    .container.home-page::before,.about-main-container::before,
    .contact-main-container::before,.skills-main-container::before,
    .container.home-page::after,.about-main-container::after,
    .contact-main-container::after,.skills-main-container::after{
        left: 70px;
    }
}
@media all and (max-width: 480px){
    .container.home-page::after,.about-main-container::after,
    .contact-main-container::after,.skills-main-container::after,
    .container.home-page::before,.about-main-container::before,
    .contact-main-container::before,.skills-main-container::before{
        left: 55px;
    }
    .container.home-page::after,.about-main-container::after,
    .contact-main-container::after,.skills-main-container::after{
        bottom: 0;
    }
}
@media all and (max-width: 360px){
    .container.home-page::after,.about-main-container::after,
    .contact-main-container::after,.skills-main-container::after,
    .container.home-page::before,.about-main-container::before,
    .contact-main-container::before,.skills-main-container::before{
        display: none;
    }
}